<header class="bg-white shadow-md p-4 flex items-center justify-between">
    <div class="flex items-center space-x-4">
        <!-- Toggle button always visible -->
        <button id="sidebarToggle" 
                class="text-primary-dark focus:outline-none"
                onclick="handleSidebarToggle()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
        </button>
        {% if request.user.is_authenticated %}
            <h1 class="text-lg font-semibold text-primary-dark">Welcome, {{first_name}}</h1>
        {% else %}
        <div></div>
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
    <div>
        <form method="POST" action="{% url 'logout' %}" class="inline">
            {% csrf_token %}
            <button class="bg-primary-teal text-white px-4 py-2 rounded hover:bg-primary-dark">Log Out</button>
        </form>
    </div>
    {% else %}
    <div></div>
    {% endif %}
</header>


